@import '../../styles/mixins';

.home-landing-page {
  .app-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .app-header {
    font-family: 'Pacifico', cursive;
    font-size: 58px;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
  }

  .app-intro {
    font-size: 18px;
    margin-bottom: 80px;
  }

  .app-cta {
  }
}
