@import './mixins';
@import './modals';

// Here you put all global css rules.

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 300;
  background: #212121 url(../images/void-bg.jpg) center center / cover no-repeat;
  color: white;
  overflow: hidden;
}

html, body, #root {
  height: 100%;
}

a {
  color: white;
}

.modal-dialog {
  color: #212121;
  &.modal-full-height {
    bottom: 0;
  }
}

button {
  transition: color 0.2s, background 0.2s, border 0.2s, border-radius 0.2s, width 0.2s, max-width 0.2s, all 0.2s;
  &.error {
    animation: 0.1s linear 3 vibrate;
  }
  &.loading, &.loading:hover {
    cursor: default;
    color: transparent;
    width: 48px;
    border-radius: 999em;
    min-width: 48px;
    padding: 0;
    border: 2px solid #a53ff3;
    background: transparent;
    border-bottom-color: transparent;
    animation: 0.75s linear infinite spin;
  }
}

.btn-flat {
  color: #666;
  box-shadow: none;
  &:hover {
    color: #000;
    box-shadow: none;
  }
}
.purple-gradient {
  background-color: #ff6ec4;
  background: linear-gradient(40deg,#a53ff3,#7873f5,#ff6ec4);
  background-size: 100% 400%;
  color: white;
  height: 48px;
  padding: 0 30px;
  letter-spacing: 0.5px;
  transition: background-position 0.3s;
  &:hover {
    color: white;
    background-position: 0 100%;
  }
}

.md-form {
  .form-control {
    z-index: 1;
    position: relative;
    &:active, &:focus, &:valid {
      & + label {
        transform: translateY(-140%);
        font-size: 0.8rem;
      }
    }
    & + label {
      z-index: 0;
    }
  }
  .validate {
    margin-bottom: 0.5rem;
  }
  .was-validated & {
    input:invalid + label:after {
      content: attr(data-error);
      opacity: 1;
      color: #cc0000;
      position: relative;
      top: 0;
      display: inline;
      margin-left: 5px;
    }
  }
}
@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
