@import './mixins';
.modal {
  color: $modalText;
  .modal-content {
    overflow: hidden;
    display: flex;
    width: 350px;
  }
  .modal-header, .modal-footer {
    padding: 20px 30px;
  }
  .modal-header {
    flex: 0 0 auto;
    margin: 0;
    border-bottom: 1px solid $borderColor;
    a {
      font-size: 11px;
      color: #999;
      transition: color 0.3s;
      cursor: pointer;
      margin-left: 15px;
      &:hover {
        color: $modalText;
      }
    }
  }
  .modal-body {
    overflow-y: auto;
    flex: 1 1 auto;
    padding: 30px;
  }
  .modal-footer {
    flex: 0 0 auto;
    border-top: 1px solid $borderColor;
    text-align: right;
  }
}