@import '../../styles/mixins';

.modal-login {
  .login-form {
    max-width: 290px;
  }
  .form-row {
    margin-bottom: 30px;
    p {
      position: absolute;
      bottom: -20px;
    }
  }
  .btn {
    &.btn-primary, &.btn-white {
      // social login buttons
      font-family: 'roboto';
      font-size: 12px;
    }
    .fa {
      // social login icon
      margin-right: 10px;
    }
  }
  .forgot {
    font-size: 12px;
    text-align: right;
    margin-top: -20px;
    a {
      color: #999;
      transition: all 0.3s;
      cursor: pointer;
      &:hover {
        color: #333;
      }
    }
  }
  .divider {
    position: relative;
    margin-bottom: 1.75rem;
    margin-top: 2.5rem;
    &:before {
      content: '';
      border-bottom: 1px solid #dedede;
      position: absolute;
      top: 50%;
      left: 25%;
      z-index: 0;
      width: 50%;
    }
    span {
      background: #fff;
      padding: 0 1rem;
      position: relative;
      z-index: 1;
      color: #999;
    }
  }
}
